main 
{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav header header header header header"
    "header header header header header header"
    "dostepnosc dostepnosc dostepnosc dostepnosc dostepnosc dostepnosc"
    "czarny czarny czarny czarny czarny czarny"
    "Lokacja Lokacja Lokacja Lokacja Lokacja Lokacja"
    "napisy napisy napisy napisy napisy napisy";
}
nav
{
    background: lightblue;
    grid-area: nav;
}
header
{
    background: lightsalmon;
    grid-area: header;
}
#napisy
{
    background: lightcoral;
    grid-area: napisy;
}
#dostepnosc
{
    background: lightcoral;
    grid-area: dostepnosc;
}
#czarny
{
    background: black;
    grid-area: czarny;
}
footer
{
    background: lightcoral;
    grid-area: Lokacja;
}
